[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spatialkit"]
	path = spatialkit
	url = https://github.com/elkronos/gis_modeling_toolkit
